#Conection Database
DB_NAME=MY_DATABASE
DB_USER=MY_USERNAME
DB_PASSWORD=MY_PASSWORD
DB_HOST=MY_HOST

#secret-key Wordpress: https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY='put your unique phrase here'
SECURE_AUTH_KEY='put your unique phrase here'
LOGGED_IN_KEY='put your unique phrase here'
NONCE_KEY='put your unique phrase here'
AUTH_SALT='put your unique phrase here'
SECURE_AUTH_SALT='put your unique phrase here'
LOGGED_IN_SALT='put your unique phrase here'
NONCE_SALT='put your unique phrase here'